  
  .cert .cert .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cert .menu {
   max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    padding:0;
  }
  
  .cert .item {
    border-top: 1px solid #2980b9;
    overflow: hidden;
  }
  
  .cert .button {
    display: block;
    padding: 16px 20px;
    background: #3498db;;
    color: white;
    position: relative;
  }
  
  .cert .button::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #3498db;
    left: 20px;
    bottom: -7px;
    z-index: 9999;
    transform: rotate(45deg);
  }
  
  .cert .button i {
    margin-right: 10px;
  }
  
  .cert .smenu {
    background: transparent;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
  }
  
  .cert .smenu a {
    display: block;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
  }
  
  .cert .smenu a::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #3498db;
    left: -5px;
    top: 0;
    transition: 0.3s;
    opacity: 0;
  }
  
  .cert .smenu a:hover::before{
    opacity: 1;
  }
  
  .cert .item:target .smenu{
    max-height: 10em;
  }
  .smenu.paragraph{
      overflow-y: scroll;
      
  }
  .smenu.paragraph::-webkit-scrollbar-track {
        background-color: #3498db02;
    }
    .smenu.paragraph::-webkit-scrollbar {
        width: 6px;
        background: #3498db5e;
    }
    .smenu.paragraph::-webkit-scrollbar-thumb {
        background: #3498db5e;
    }
  .fa-ul.mb-0{
      margin-top: 20px;   
      margin-left: 40px; 
  }