a:focus,
button:focus {
    outline: 0;
}


section.resume-section {
    min-height: 0px;
}

.resume-section {
    padding-bottom: 0px;
}

.img-thumbnail {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 200px;
}

h6 {
    font-family: 'Franklin Gothic Medium';
    white-space: normal;
    color: rgba(129, 128, 128, 0.867);
}

.social-icons a {
    margin-top: 10px;
}

h1.mb-0 {
    animation: animaCor 5s;
}

.text-primary {
    animation: animaCor2 5s;
}

@keyframes animaCor {
    0% {
        color: black;
    }

    50% {
        color: #ccc;
    }

    60% {
        color: #ccc;
    }

    70% {
        color: #ccc;
    }

    100% {
        color: black;
    }
}

@keyframes animaCor2 {
    0% {
        color: #ccc;
    }

    50% {
        color: #e5e5e5;
    }

    60% {
        color: rgb(109, 108, 108);
    }

    70% {
        color: black;
    }

    100% {
        color: #706f6f;

    }
}

.text-primary-2 {
    color: #4286f49a !important;
}

.text-primary-3 {
    color: #ffffff !important;
}

.text-primary-4 {
    color: #cccccc !important;
}

#semana {
    text-align: right;
}

/* ICONES HALLOWEEN */
.halloween {
    position: relative;
}


#imgabobora {
    position: absolute;
    top: -30px;
    left: -25px;
    transform: rotate(-25deg);
    /* z-index: 99999; */
    visibility: hidden;
}

#imgmorcego {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    visibility: hidden;
}

/* @media(max-width:375px){
    #imgmorcego{
        left: 180px;
        top:140px;
    }
} */


/* EXPERIÊNCIAS */
#headingFour,
#headingFive,
#headingSix,
#headingSeven,
#headingOne,
#headingOne1,
#headingTwo,
#headingThree {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LIVROS */
.my-livros {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-livros {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 13rem !important;
    transition: all 0.7s cubic-bezier(0.25, 0.63, 0.09, 1.05);
    cursor: pointer;
}

.card-livros:hover {
    transition: all 0.7s cubic-bezier(0.25, 0.63, 0.09, 1.05);
    transform: scale(1.085);
}

.card-text {
    min-height: 90px;
}

.card .card-body .card-text {
    color: #000000;
}

.card-img-top {
    max-height: 294px;
    object-fit: cover;
}

.btn {
    margin: 0;
}

.modal-body {
    color: #747373;
    padding: 25px;
}

.modal-title {
    padding-left: 10px;
}

.card-experiencias,
.card-header-exp {
    background-color: transparent;
}

.btn.btn-link.waves-effect.waves-light {
    padding: 0;
    text-decoration: none;
    font-size: 18px;
}

#centerbtn {
    margin: 0 auto;
    display: flex;
}

hr.esp-front {
    padding: 20px 0px;
}

.tech-seox {
    padding-bottom: 20px;
}

@media(max-width:425px) {
    .my-livros {
        justify-content: center;
    }
    .card-livros {
        margin-bottom: 40px;
    }
    .quali-icons{
        overflow-x: scroll;
    }
    .quali-icons ul{
        display: flex;
    }
  .list-inline-item:not(:last-child) {
    margin-right: 3rem;
    }
}

.panel-title a:after {
    font-family:Fontawesome;
    content:'\f077';
    float:right;
    font-size:10px;
    font-weight:300;
}
.panel-title a.collapsed:after {
    font-family:Fontawesome;
    content:'\f078';
}
@media screen and (max-width:992px){
    .logo-mobile img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .navbar{
        padding:0.2rem 1rem;
        display: none;
    }
    .nav-item{
        text-align: center;
    }
    .nav-item a{
        color:#ffffff;
    }
}



/* INICIO MENU MOBILE */
.b-menu-mobile-img{
    display: none;
}
.b-mobile-menu {
    width: 100%;
	top: 62px;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: 9998;
    background-color: #000000f6;
	/* background: transparent linear-gradient(90deg, #B41A83 0%, #CC092F 47%, #F36279 100%) 0% 0% no-repeat padding-box; */
	margin: 0;
    display: none;
    transition: .3s ease;
  
  @media screen and (max-width: 768px) { 
        float: right;
		position: relative;
		left: auto;
		right: auto;
		bottom: auto;
		top: 62px;
		min-height: auto;
		height: auto;
		padding: 0;
		width: auto;
		background: transparent;
        display: block;
        transition: .3s ease;
  }
  
  &.open {
    display: block ;
  }
}
@media screen and (max-width:992px){
    .b-mobile-menu {
		position: absolute;
		left: 0;
		top: 65px;
		padding: 0;
        display: none;
        transition: .3s ease;
    }
    .open{
        display: block;     
        transition: .3s ease;
    }
}
a {
  text-decoration: none;
}
.b-main-menu {
  margin: 0;
  padding: 0;

  &__item {
		padding: 0;
		display: block;
		position: relative;
	}
}
.b-open-button {
	width: 30px;
	height: 30px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	position: absolute;
	cursor: pointer;
	border-bottom: 0;
	top: 20px;
	right: 24px;
	z-index: 9999;
    border-bottom: 0;
    display: none;
}
@media screen and (max-width:992px){
    .b-open-button {
        display: block;
    }
    .b-menu-mobile-img{
        display: block;
    }
    .b-menu-mobile-img img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 24px;
    }
}
.b-open-button span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #ffffff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}
.b-open-button span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
}
.b-open-button span:nth-child(2) {
	top: 10px;
    transform-origin: left center;
    width: 80%;
    margin-left: 20%;
    height: 3px;
    border-radius: 2px;
}
.b-open-button span:nth-child(3) {
	top: 20px;
	transform-origin: left center;
}
.b-open-button.open span:nth-child(1) {
	transform: rotate(45deg);
	top: -3px;
    left: 8px;
    transform: rotate(130deg);
    top: -3px;
    left: 20px;
    width: 60%;
    top: 0px;
    left: 20px;
    width: 50%;
}
.b-open-button.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}
.b-open-button.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 19px;
    left: 8px;
    transform: rotate(-130deg);
    top: 24px;
    left: 20px;
    width: 60%;
    top: 22px;
    left: 20px;
    width: 50%;
}
.b-scrollTop{
    overflow-y: hidden;
}
/* FIM MENU MOBILE */


